* {
  margin: 0;
  padding: 0;
  font-family: 'Sigmar One', cursive;
  box-sizing: border-box;
}

.chatRoom__Alert {
  /* display: none; */
  margin: 1rem auto;
}


.chatRoom__listGroup {
  margin: auto 3rem;
}

.chatRoom__listGroup .date{
  font-size: 0.7rem;
}

.chatRoom__listGroup .username{
  color: #006417;
}


.btn{
  
  color: b;
  outline: none !important;
  box-shadow: none !important;
}
.btn:focus{
  outline: none !important;
  color: rgb(153, 153, 153);
}

.container {
  background-color: #28A745;
  margin: 0;
  padding: 0;
  max-width: none ;
  height: 100%
}

.chat-rooms button {
  font-size: small;
}

@media (max-width:400px) {
  .chat-rooms button {
    font-size: 10px;
    }
}